.singleOrder {
    color: #444b49;
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 1.5rem 0;
    
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    }
}